<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>涨停低吸监控模型</title>

<link type="text/css" rel="stylesheet" href="/css/jsmind.css" />
<script type="text/javascript" src="/js/jsmind.js"></script>
<script type="text/javascript" src="/js/jsmind.draggable.js"></script>

<style type="text/css">
#jsmind_container {
	width: 900px;
	height: 1050px;
	border: solid 1px #ccc;
	/*background:#f4f4f4;*/
	/*background:#f4f4f4;*/
}
</style>



</head>
<!--遍历数组-->
<body>

	<div id="jsmind_container"
		style="display: inline-grid; margin-left: 230px; vertical-align: top"></div>
	<script type="text/javascript" language="javascript"
		src="/js/e6/jsmind.js?16452577038019"></script>
	<script src="/js/progress.js"></script>
</body>
</html>