<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOP100</title>
    <style type="text/css">
        body{
            background-color: #EFEFEF;
        }
        table {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
        table thead th {
            border: 1px solid black;
        }
        table tbody td {
            border: 1px solid black;
            padding: 6px 10px;
        }

        .bold{font-weight: bold}
        .green{color:#00d20d}
        .red{color:#ff0000}
    </style>
</head>
<!--遍历数组-->
<body>

<table>
    <tr style="border: 2px solid black; background-color: #CCC">
        <td><a href="/top?px=cate">行业排序</a></td>
        <td><a href="/top?px=long">长线关注</a></td>
        <td><a href="/top?px=top">重点关注</a></td>
        <td><a href="/top?px=week">本周关注</a></td>
        <td><a href="/top?px=day">今日操作</a></td>
    </tr>
</table>
<br/>
<table>
    <tr style="background-color: #146aa2">
        <td>编码</td>
        <td>名称</td>
        <td>行业</td>
    </tr>
    <span th:each="item, sta:${list}">
    <tr style="background-color: #C2BE9E; font-size: 18px; font-weight: bold">
        <td><a th:href="${'http://stockpage.10jqka.com.cn/'+ #strings.substring(item['cid'],2,8) + '/#refCountId=stockpage_5c3e9aef_93'}" target="_blank"><span th:text="${item['cid']}"></span></a></td>
        <td th:text="${item['name']}"></td>
        <td th:text="${item['cate']}"></td>
    </tr>
    <tr>
         <td colspan="3">
            <img th:src="'http://image.sinajs.cn/newchart/daily/n/' + ${item['cid']}+ '.gif'" style="width: 600px;">
            <img th:src="'http://image.sinajs.cn/newchart/monthly/n/' + ${item['cid']}+ '.gif'" style="width:600px;">
        </td>
    </tr>
    <tr>
         <td colspan="3">

        </td>
    </tr>
</span>
</table>
</body>
</html>