<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>涨停低吸监控模型</title>
    <style type="text/css">
        body{
            background-color: #DDDDDD;
        }
        table {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
        table thead th {
            border: 1px solid black;
        }
        table tbody td {
            border: 1px solid black;
            padding: 6px 10px;
        }
		 /*
		h3{font-size:22px;}
		a{
			color:#0000FF; 
			text-decoration: underline;
		}*/
		a:HOVER{ 
		font-weight:bold;
		text-decoration: none;
		cursor: pointer;
		}
        .bold{font-weight: bold}
        .green{color:#00d20d}
        .red{color:#ff0000}
        .orange{color:#ff6600}
        .bgdz{background-color: #FFFFCC;}
        .bgdz{background-color: #FFFFCC;}
        .dt-buttons{display: none;}
        
        
    </style>
      <!--    <style>::-webkit-scrollbar{display:none;}html,body{overflow:hidden;height:100%;margin:0;}</style>-->
      <style type="text/css">
        #jsmind_container{
            width:900px;
            height:250px;
            border:solid 1px #ccc;
            /*background:#f4f4f4;*/
            /*background:#f4f4f4;*/
        }
    </style>
    
    
    <style type="text/css">
	 
		 
		.circlechart {
			float: left;
			padding: 20px;
		}
	</style>
</head>
<!--遍历数组-->
<body>

<script type="text/javascript" language="javascript" src="/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery.form.js"></script>

<script type="text/javascript" language="javascript" src="/js/common.js?ng=20220219160143"></script>
<script type="text/javascript" language="javascript" src="/js/api.js?ng=20220219160143"></script>

 <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/css/basecss.css">


<link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/css/exportExcelbuttons.css">

<link rel="stylesheet" href="/css/progresscircle.css">

<link type="text/css" rel="stylesheet" href="/css/jsmind.css" />
<script type="text/javascript" src="/js/jsmind.js"></script>
<script type="text/javascript" src="/js/jsmind.draggable.js"></script>

<script type="text/javascript" language="javascript"  src="/js/jquery.dataTables-1.10.7.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/e6/DTable.js"></script>
 

	

<script type="text/javascript" language="javascript" src="/js/buttons.html5.min.js"> </script>
<script type="text/javascript" language="javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/buttons.html5.min.js"> </script>
<script type="text/javascript" language="javascript" src="/js/jquery-dataTables-fnNameOrdering.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery-dataTables-fnNoColumnsParams.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery-dataTables-fnCounterColumns.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery-dataTables-fnFakeRowspan.js"></script>

<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.5.1/dist/g2.min.js"></script>



<script type="text/javascript">

function changeAddr() {
	var addrs = '127.0.0.1:8080'    //--
	return addrs;
}
function signIn(url) {//60.205.183.191:9098
    window.open(url);
}
function bindLayerMouseOver(){};


var showtime = function () {
    var nowdate = new Date();
    var year = nowdate.getFullYear(),

        month = checkTime(nowdate.getMonth() + 1),

        date = nowdate.getDate(),

        day = nowdate.getDay(),

        week = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],

        h = nowdate.getHours(),

        m = nowdate.getMinutes(),

        s = nowdate.getSeconds(),

        h = checkTime(h),

        m = checkTime(m),

        s = checkTime(s);
    return year + "-" + month + "-" + date + " " + h +":" + m + ":" + s;
}

var checkTime = function (i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

var div = document.getElementById("showtime");

setInterval (function() {

	document.getElementById("showtime").innerHTML = showtime();

}, 1000);  //反复执行函数

</script>

<table>
    <tr style="border: 2px solid black; background-color: #CCC">
        <td style="background-color: #FF9999"><a href="/gp/run?p=ztdx" target="_blank">启动自选监控</a></td>
        <td style="background-color: #FF9999"><a href="/gp/run?p=all" target="_blank">启动全部个股监控</a></td>
        <td style="background-color: #FF9999"><a href="/gp/run?p=hy" target="_blank">启动行业监控</a></td>
	
        <td style="background-color: #FF9999"><a href="/gp/opt?key=all" target="_blank">停止跑数据</a></td>
        <td style="background-color: #93D1FF"><a th:href="${'/gp/ztdxAjax?px=' + px + '&hpx=zdf'}">行业涨跌幅</a></td>
        <td style="background-color: #93D1FF"><a th:href="${'/gp/ztdxAjax?px=' + px + '&hpx=lr'}">行业静流入</a></td>
        <td style="background-color: #93b9ff"><a th:href="${'/gp/ztdxAjax?px=' + px + '&hpx=zdb'}">行业涨跌比</a></td>
        <td style="background-color: #93D1FF"><a th:href="${'/gp/ztdxAjax?px=sort&hpx=' + hpx}">个股默认排序</a></td>
        <td style="background-color: #93D1FF"><a th:href="${'/gp/ztdxAjax?px=cate&hpx=' + hpx}">个股分类排</a></td>
        <td style="background-color: #93D1FF"><a th:href="${'/gp/ztdxAjax?px=15d&hpx=' + hpx}">个股15天板</a></td>
        <td style="background-color: #93D1FF"><a th:href="${'/gp/ztdxAjax?px=zkb&hpx=' + hpx}">个股赚亏比</a></td>
        <td class="red"><h2 style="border:0px;margin:0px;padding:0px;" id="showtime" th:text="${time}">&nbsp;</h2></td>
    </tr>

	<tr style="border: 2px solid black; background-color: #CCC"> 
		<td style="background-color: #93D1FF"><a href="/10jqka/queryDataFromCommand?filter[cmd]=startGnThread" target="_blank">启动概念板块监控</a></td>
		<td style="background-color: #93D1FF"><a href="/gp/run?p=msg" target="_blank">开板通知</a></td>
		<td style="background-color: #93D1FF"><a href="/10jqka/queryDataFromCommand?filter[cmd]=startMonitorBk" target="_blank">板块拉升通知</a></td>
		<td style="background-color: #93D1FF"><a href="/10jqka/lianghua" target="_blank">个股拉升通知</a></td>
		<td style="background-color: #93D1FF"><a href="/10jqka/queryDataFromCommand?filter[cmd]=startSelectMonitor" target="_blank">个股拉升2</a></td>
		
		<td style="background-color: #93D1FF"><a href="/10jqka/lianghuaResult" target="_blank">查看分钟交易量</a></td>
		<td style="background-color: #93D1FF"><a href="/10jqka/queryDataFromCommand?filter[cmd]=monitorBkCache" target="_blank">查看板块监控数据</a></td>
		<td style="background-color: #93D1FF"><a href="/10jqka/queryDataFromCommand?filter[cmd]=selectGpCache" target="_blank">查看个股数据</a></td>
		<td style="background-color: #d75442"><a href="/10jqka/mind" target="_blank">思维导图</a></td>
		
		
    </tr>
</table>
<br/>

<div id="mountNode2">情绪温度   上涨家数/总家数</div> 
 <div id="mountNode"></div>
 
 <div id="today10jqka">
 <div style="margin-left: 55px;">今日大盘评级</div>
 <div> <!-- <canvas id="my_html" width="200" height="200"></canvas>-->
 
   
      <div class="circlechart" id="circlechart1" data-percentage="100">100</div>
      
      
      
 
 <div style="display: inline-grid;margin-left: 70px; vertical-align: top ">涨跌分布 
 <span class="c-rise red" style="margin-top: 40px;" >上涨：<span id="p1"></span>只</span>
<span class="c-fall " style="color: #59b881">下跌：<span id="p2"></span>只</span> 
</div>



 <div style="display: inline-grid;margin-left: 70px; vertical-align: top ">涨跌停
 <span class="c-rise red" style="margin-top: 40px;" >涨停：<span id="p3"></span>只</span>
<span class="c-fall" style="color: #59b881">跌停：<span id="p4"></span>只</span> 
</div>

<div id="jsmind_container" style="display: inline-grid;margin-left: 10px; vertical-align: top "></div>
 
 
 </div>
 
 
 </div>  
 <!--  
<table>

    <tr style="border: 2px solid black; background-color: #EFEFEF">
        <td>
          </td>


        </td>
        <td>
            <img src="http://image.sinajs.cn/newchart/min/n/sz399001.gif" style="width: 270px;">
        </td>
        <td>
            <img src="http://image.sinajs.cn/newchart/min/n/sh000016.gif" style="width: 270px;"> 
        </td>
        <td>
            <img src="http://image.sinajs.cn/newchart/min/n/sh000852.gif" style="width: 270px;">
        </td>
        <td>
            <img src="http://image.sinajs.cn/newchart/min/n/sh000046.gif" style="width: 270px;">
        </td>
    </tr>
</table>-->
<br/>

<!-- 监控  -->
<table>
	<!-- 自选监控 -->
	
	
	<!-- <tr>
	<td style="vertical-align:top; text-align: left; ">
		<h3 style="margin:0px; padding:0px;" class="blue" id="02">
		大盘评级（
		<span id="p0"  class="red" ></span>
		）
		涨跌分布（
		上涨：<span id="p1"  class="red" ></span>只
		下跌：<span id="p2"  class="green" ></span> 
		）
		涨跌停（
		上涨：<span id="p3"  class="red" ></span>
		下跌：<span id="p4"  class="green" ></span>
		）
		</h3>
	</td> 
	
	<td style="vertical-align:top; text-align: left;">
		<h3 style="margin:0px; padding:0px;" class="blue" id="01">
		
		</h3>
	</td>-->
	
		<!--</tr>-->
	
	<tr>
	
	
	
	
	<td style="vertical-align:top; text-align: left;">
		<h3 style="margin:0px; padding:0px;" class="blue" id="h31">
		自选监控#开盘（
		总数：<span id="zxjkvo_zx_gknum"></span>，
		高开比：<span id="zx_gkb"></span>，
		均涨幅：<span   id="zx_jzf"></span>
		）
		</h3>
	</td>
	<td style="vertical-align:top; text-align: left; ">
		<h3 style="margin:0px; padding:0px;" class="blue" id="h32">
		实时（
		涨跌比：<span style="font-size:14px;" id="b1"> </span><span id="b2"> </span>，
		均涨幅：<span style="font-size:14px;" id="b3"> </span><span class="red" id="b4"> </span>，
		赚亏比：<span class="blue" id="b5"> </span>
		）
		</h3>
	</td>
	

	
	</tr>
	<!-- 涨停监控 -->
	<tr>
	 
	 
	 <td style="vertical-align:top; text-align: left;">
		<h3 style="margin:0px; padding:0px;" class="blue" id="z40">
		涨停监控#开盘（
		总数：<span id="z41"></span>，
		高开比：<span id="z42"></span>，
		均涨幅：<span   id="z43"></span>
		）
		</h3>
	</td>
	<td style="vertical-align:top; text-align: left; ">
		<h3 style="margin:0px; padding:0px;" class="blue" id="z32">
		实时（
		涨跌比：<span style="font-size:14px;" id="z1"></span><span id="z2">%</span>，
		均涨幅：<span style="font-size:14px;" id="z3"></span><span class="red" id="z4">%</span>，
		赚亏比：<span class="blue" id="z5">%</span>
		）
		</h3>
	</td>
	
	</tr>
	
	
	<!-- 跌停监控 -->
	<tr>
	  <td style="vertical-align:top; text-align: left;">
		<h3 style="margin:0px; padding:0px;" class="blue" id="t40">
		跌停监控#开盘（
		总数：<span id="t41"></span>，
		高开比：<span id="t42"></span>，
		均涨幅：<span   id="t43"></span>
		）
		</h3>
	</td>
	<td style="vertical-align:top; text-align: left; ">
		<h3 style="margin:0px; padding:0px;" class="blue" id="t0">
		实时（
		涨跌比：<span style="font-size:14px;" id="t1"></span><span id="t2">%</span>，
		均涨幅：<span style="font-size:14px;" id="t3"></span><span class="blue" id="t4">%</span>，
		赚亏比：<span class="blue" id="t5">%</span>
		）
		</h3>
	</td>
	</tr>
	<!-- 高板监控 -->
	<tr>
	<tr>
	  <td style="vertical-align:top; text-align: left;">
		<h3 style="margin:0px; padding:0px;" class="blue" id="g40">
		高板监控#开盘（
		总数：<span id="g41"></span>，
		高开比：<span id="g42"></span>，
		均涨幅：<span   id="g43"></span>
		）
		</h3>
	</td>
	<td style="vertical-align:top; text-align: left; ">
		<h3 style="margin:0px; padding:0px;" class="blue" id="g0">
		实时（
		涨跌比：<span style="font-size:14px;" id="g1"></span><span id="g2">%</span>，
		均涨幅：<span style="font-size:14px;" id="g3"></span><span class="blue" id="g4">%</span>，
		赚亏比：<span class="blue" id="g5">%</span>
		）
		</h3>
	</td>
	</tr>
	
	
	<script type="text/javascript">
</script>



	<!-- 行业监控 -->
	<tr>
	<tr>
	  <td style="vertical-align:top; text-align: left;">
		<h3 style="margin:0px; padding:0px;" class="blue" id="r40">
		行业监控#开盘（
		总数：<span id="r41"></span>，
		高开比：<span id="r42"></span>，
		均涨幅：<span   id="r43"></span>
		）
		</h3>
	</td>
	<td style="vertical-align:top; text-align: left; ">
		<h3 style="margin:0px; padding:0px;" class="blue" id="r0">
		实时（
		涨跌比：<span style="font-size:14px;" id="r1"></span><span id="r2">%</span>，
		均涨幅：<span style="font-size:14px;" id="r3"></span><span class="blue" id="r4">%</span>，
		赚亏比：<span class="blue" id="r5">%</span>
		）
		</h3>
	</td>
	</tr>
	
	
 
	
</table>
	
<br/>
<table>
<tr>
<td style="vertical-align:top; display:; ">




<table id="tablehy" class="trclick display nowrap" cellspacing="0"   >
		<thead>
       <tr style="height:35px;">
	         <th style="width:120px" >板块</th> 
	        <th  orderBy="199112">涨跌%</th>
	        <th  orderBy="zjjlr" style="width:140px"  >资金净流入(亿)</th>
	        
        </tr>
    </thead>
  </table>

 

</td>

<td style="vertical-align:top; width:80%">

<!-- 自选列表 --> 

<table id="table" class="trclick display nowrap" cellspacing="0"  width="93%">
		<thead>
       <tr style="height:35px; background-color: #146aa2 ">
	         <th >编码</th>
	        <th style="width:120px" >名称</th>
	          <th>涨跌幅</th>
	      
	        
	        <th>开涨跌</th>
	      
	        <th>赚亏比</th>
	        
	        
	        <th style="width:230px" orderBy="lightBox_s_s">分类</th>    
	        <th style="width:85px;">标识</th> 
	        
	      
	      
	        
	      <!--    <th>昨天涨跌</th>-->
	        <th>评分</th>
	          <th>计划操作</th>
	          <th style="width:120px">概念板块</th>
        </tr>
    </thead>
  </table>







<h3>连续2天涨停列表</h3>
<!-- 连板内容 -->


<table id="table2d" class="trclick display nowrap" cellspacing="0"  width="84%" >
		<thead>
       <tr style="height:35px;">
	        <th>编码</th> 
	       <th style="width:140px" >名称</th>
	        <th style="width:140px">分类</th>
	        <th  style="width:80px" >涨停情况</th>
	        <th>涨跌幅</th>
	        <th>开涨跌</th>
	        <th>赚亏比</th>
	        <th>概念板块</th>
        </tr>
    </thead>
  </table>
<!--              ----------------------------------------------------  ----------------------------------------------------  ---------------------------------------------------- -->


<br/>
<h3>昨天涨停列表</h3>
<!-- 连板内容 -->

<table id="yestzt" class="trclick display nowrap" cellspacing="0"  width="84%" >
		<thead>
       <tr style="height:35px;">
	        <th>编码</th> 
	       <th style="width:140px" >名称</th>
	        <th style="width:180px" orderBy="cate" >分类</th>
	        <th  orderBy="zdf" >涨跌幅</th>
	        <th orderBy="kpzdf" >开涨跌</th>
	        <th>赚亏比</th>
        </tr>
    </thead>
  </table>
<!--  
<table style="float:;">
    <tr style="background-color: #146aa2">
        <td>编码</td>
        <td>名称</td>
        <td>分类</td>
        <td>涨跌幅</td>
        <td>开涨跌</td>
        <td>赚亏比</td>
    </tr>
    <tr th:each="item, sta:${ztlist}" th:class="${item['kpzdf']}>=0?'':'bgdz'">
        <td style="line-height:35px;"><a th:href="${'http://stockpage.10jqka.com.cn/'+ #strings.substring(item['cid'],2,8) + '/#refCountId=stockpage_5c3e9aef_93'}" target="_blank"><span th:text="${#strings.substring(item['cid'],2,8)}"></span></a></td>
        <td th:text="${item['name']}"></td>
        <td>
            <span th:text="${item['cate']}"></span>
        </td>
        <td th:text="${item['zdf']} + '%'" th:class="${item['zdf']}>=0?'bold red':'bold green'"></td>
        <td>
        	<span th:text="${item['kpzdf']>0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}>0?'bold red':''"></span>
        	<span th:text="${item['kpzdf']==0.0?'0%':''}" th:class="${item['kpzdf']==0.0?'bold':''}"></span>
        	<span th:text="${item['kpzdf']<0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}<0?'bold green':''"></span>
        
        </td>
        <td>
        	<span th:text="${item['zkb']>0?item['zkb'] + '%':''}" th:class="${item['zkb']}>0?'bold red':''"></span>
        	<span th:text="${item['zkb']==0.0?'-':''}"></span>
        	<span th:text="${item['zkb']<0?item['zkb'] + '%':''}" th:class="${item['zkb']}<0?'bold green':''"></span>
        </td>
    </tr>
</table>

-->




<br/>
<h3>昨天跌停列表</h3>
<!-- 连板内容 -->
<table style="float:;">
    <tr style="background-color: #146aa2">
        <td>编码</td>
        <td>名称</td>
        <td>分类</td>
        <td>涨跌幅</td>
        <td>开涨跌</td>
        <td>赚亏比</td>
    </tr>
    <tr th:each="item, sta:${dtlist}" th:class="${item['kpzdf']}>=0?'':'bgdz'">
        <td style="line-height:35px;"><a th:href="${'http://stockpage.10jqka.com.cn/'+ #strings.substring(item['cid'],2,8) + '/#refCountId=stockpage_5c3e9aef_93'}" target="_blank"><span th:text="${#strings.substring(item['cid'],2,8)}"></span></a></td>
        <td th:text="${item['name']}"></td>
        <td>
            <span th:text="${item['cate']}"></span>
        </td>
        <td th:text="${item['zdf']} + '%'" th:class="${item['zdf']}>=0?'bold red':'bold green'"></td>
        <td>
        	<span th:text="${item['kpzdf']>0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}>0?'bold red':''"></span>
        	<span th:text="${item['kpzdf']==0.0?'0%':''}" th:class="${item['kpzdf']==0.0?'bold':''}"></span>
        	<span th:text="${item['kpzdf']<0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}<0?'bold green':''"></span>
        
        </td>
        <td>
        	<span th:text="${item['zkb']>0?item['zkb'] + '%':''}" th:class="${item['zkb']}>0?'bold red':''"></span>
        	<span th:text="${item['zkb']==0.0?'-':''}"></span>
        	<span th:text="${item['zkb']<0?item['zkb'] + '%':''}" th:class="${item['zkb']}<0?'bold green':''"></span>
        </td>
    </tr>
</table>

<br/>
<h3>高板列表</h3>
<!-- 连板内容 -->
<table style="float:;">
    <tr style="background-color: #146aa2">
        <td>编码</td>
        <td>名称</td>
        <td>分类</td>
        <td>涨跌幅</td>
        <td>开涨跌</td>
        <td>赚亏比</td>
    </tr>
    <tr th:each="item, sta:${gblist}" th:class="${item['kpzdf']}>=0?'':'bgdz'">
        <td style="line-height:35px;"><a th:href="${'http://stockpage.10jqka.com.cn/'+ #strings.substring(item['cid'],2,8) + '/#refCountId=stockpage_5c3e9aef_93'}" target="_blank"><span th:text="${#strings.substring(item['cid'],2,8)}"></span></a></td>
        <td th:text="${item['name']}"></td>
        <td>
            <span th:text="${item['cate']}"></span>
        </td>
        <td th:text="${item['zdf']} + '%'" th:class="${item['zdf']}>=0?'bold red':'bold green'"></td>
        <td>
        	<span th:text="${item['kpzdf']>0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}>0?'bold red':''"></span>
        	<span th:text="${item['kpzdf']==0.0?'0%':''}" th:class="${item['kpzdf']==0.0?'bold':''}"></span>
        	<span th:text="${item['kpzdf']<0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}<0?'bold green':''"></span>
        
        </td>
        <td>
        	<span th:text="${item['zkb']>0?item['zkb'] + '%':''}" th:class="${item['zkb']}>0?'bold red':''"></span>
        	<span th:text="${item['zkb']==0.0?'-':''}"></span>
        	<span th:text="${item['zkb']<0?item['zkb'] + '%':''}" th:class="${item['zkb']}<0?'bold green':''"></span>
        </td>
    </tr>
</table>

<br/>
<h3>行业列表</h3>
<table style="float:;">
    <tr style="background-color: #146aa2">
        <td>编码</td>
        <td>名称</td>
        <td>分类</td>
        <td>涨跌幅</td>
        <td>开涨跌</td>
        <td>赚亏比</td>
    </tr>
    <tr th:each="item, sta:${hygplist}" th:class="${item['kpzdf']}>=0?'':'bgdz'">
        <td style="line-height:35px;"><a th:href="${'http://stockpage.10jqka.com.cn/'+ #strings.substring(item['cid'],2,8) + '/#refCountId=stockpage_5c3e9aef_93'}" target="_blank"><span th:text="${#strings.substring(item['cid'],2,8)}"></span></a></td>
        <td th:text="${item['name']}"></td>
        <td>
            <span th:text="${item['cate']}"></span>
        </td>
        <td th:text="${item['zdf']} + '%'" th:class="${item['zdf']}>=0?'bold red':'bold green'"></td>
        <td>
        	<span th:text="${item['kpzdf']>0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}>0?'bold red':''"></span>
        	<span th:text="${item['kpzdf']==0.0?'0%':''}" th:class="${item['kpzdf']==0.0?'bold':''}"></span>
        	<span th:text="${item['kpzdf']<0?item['kpzdf'] + '%':''}" th:class="${item['kpzdf']}<0?'bold green':''"></span>
        
        </td>
        <td>
        	<span th:text="${item['zkb']>0?item['zkb'] + '%':''}" th:class="${item['zkb']}>0?'bold red':''"></span>
        	<span th:text="${item['zkb']==0.0?'-':''}"></span>
        	<span th:text="${item['zkb']<0?item['zkb'] + '%':''}" th:class="${item['zkb']}<0?'bold green':''"></span>
        </td>
    </tr>
</table>


</td>
</tr>
</table>
<script type="text/javascript" language="javascript" src="/js/layui/layui.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css">-->


<script type="text/javascript" language="javascript" src="/js/e6/yestzttable.js?16452577038019"></script>


<script type="text/javascript" language="javascript" src="/js/e6/gpGnTable.js?16452577038019"></script>

<script type="text/javascript" language="javascript" src="/js/e6/gpz2dzGntable.js?16452577038019"></script>

<script type="text/javascript" language="javascript" src="/js/e6/gpzxGnShortFieldTable.js?16452577038019"></script>

<script type="text/javascript" language="javascript" src="/js/e6/10jqka.js?16452577038019"></script>
<script type="text/javascript" language="javascript" src="/js/e6/temperature.js?16452577038019"></script>
<script type="text/javascript" language="javascript" src="/js/e6/jsmind.js?16452577038019"></script>

 


<script src="/js/progress.js"></script>

 
	
	
</body>
</html>